* {
  --background: #f8f9fa;
  --background-sec: #e9ecef;
  --background-alt: #ced4da;
  --foreground: #212529;
  --foreground-alt: #dee2e6;
  --foreground-sec: #495057
}
body {
  margin: 0 10%;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
.navbar {
  padding: 10px;
  display:flex;
  justify-content: center;
}

.settings {
  margin: 20px 50px;
  margin-right: 10px;
  display: flex;
  float: left;
  width: 200px;
  min-height: 70vh;
  background: var(--background-alt);
}
.settings .wrapper {
  width: 100%;
  margin: 15px 0;
}

.settings .wrapper .options{
  display: flex;
  justify-content: center;
}

.settings .wrapper .options input {
  display: flex;
  margin: 10px;
  justify-content: center;
  padding: 7px;
  border: none;
  background: var(--foreground-alt);
  color: var(--foreground);
}
.settings .wrapper .search button{
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  background: var(--foreground-alt);
  border: none;
  color: var(--foreground);
}

button:hover, input:hover {
  opacity: 70%;
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
}

.settings .wrapper .search{
  position: relative;
  bottom: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  margin: 20px 60px;
  min-height: 70vh;
  background: var(--background-sec);
}
.card .wrapper{
  justify-content: center;
}

.card .wrapper .name h2, p{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
p {
  font-size: 15px;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
  color: var(--foreground-sec);
}
.card .wrapper .stats ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.card .wrapper .stats ul li {
  margin: 0 20px;
  list-style: none;
}
.card .wrapper .stats ul li i {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin: 10px 10px;
  background: var(--foreground-alt);
}
